<%- include("partials/header") -%>

<% for(let post of posts){ %>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script type="text/javascript">
  var c = 0;//we will insert the value of c(count) in our database and call it here
</script>

<div style="background-image: url(/images/hack.png);"">
    <div class="container-fluid card">
        <h1 style="margin-top: 1%;" class="label"><%= post.title %></h1>
          <span><span class="label">Posted by </span><%= post.name %></span>
            <% if(post.user.toString() == id) {  %> 
              <p style="color: #3F3D56; font-weight: bold;">•• your campaign ••</p>
             <% } %> 
        <div class="row">
          <div class="col">
            <img src="<%= `${post.imageUrl}`  %>" class="img-thumbnail" style="border-radius: 50px;" alt="Blog Image" > 
            <div></div>
            <% if(post.user.toString() == id) {  %> 
              <button id="deletePost" class="btn btn-danger found-team" data-postid ="<%= `${post._id }`%>"> Already found my team! </button>
              <% } %>  
              <div></div>
            <button class="btn post-button" type="submit" name="button" style="margin-top: 1%; margin-bottom: 1%; padding-top: 15px; padding-bottom: 15px;" onclick="location.href='mailto:<%= post.email %>'">
              <a href="mailto:<%= post.email %>" class="label" style="text-decoration: none; color: white;">Email</a>
            </button>
            <button class="btn post-button" type="submit" name="button" style="margin-top: 1%; margin-bottom: 1%; padding-top: 15px; padding-bottom: 15px;" onclick="location.href='https://<%= post.link.github %>'">
              <a href="https://<%= post.link.github %>" target="_blank" class="label" style="text-decoration: none; color: white;">Github</a>
            </button>
            <button class="btn post-button" type="submit" name="button" style="margin-top: 1%; margin-bottom: 1%; padding-top: 15px; padding-bottom: 15px;" onclick="location.href='https://<%= post.link.linkedin %>'">
              <a href="https://<%= post.link.linkedin %>" target="_blank" class="label" style="text-decoration: none; color: white;">LinkedIn</a>
            </button>
            <button class="btn post-button" type="submit" name="button" style="margin-top: 1%; margin-bottom: 1%; padding-top: 15px; padding-bottom: 15px;" onclick="location.href='/message/<%=post.user.toString() %>'">
              <a id="message" style="text-decoration: none; color: white;" class="label" href="/message/<%=post.user.toString() %>" data-user = "<%= post.user%>"> Message  </a>
            </button>
          </div>
          <div class="col">
            <p class="label"><strong>Description</strong></p>
            <p><%= post.content%></p>
            <p class="label"><strong>Technologies</strong></p>
            <p> <%= post.techStack%>  </p>
            <p class="label"><strong>Timezone</strong></p>
            <p><%= post.timezone %></p>
            <p class="label"><strong>University</strong></p>
            <p><%= post.education.university %> , <%= post.education.year %>  </p>            
            <!-- <button class="visit">View Blog</button> -->
          </div>
        </div>
        <div class="row">
          <div class="col">
           
            <!-- <form action="/delCnf/<%= post._id %>" method="post">
              <div class="form-group">
                <input type="checkbox" onChange="this.form.submit()" name="checkbox" >
              </div>
            </form> -->
            
            
            <!-- <div class="like_count">
              Total number of likes--
              <span> 0 </span>
              <script>
              $(document).ready(function(){
                $(".like").click(function(){
                    c=c+1;
                     console.log(c);
                     $(".like_count span").html(c)
                     
                      });
                         });
                //document.write(c) -->
                
               </script>
                  
            </div>
            
          </div>
        </div>
      </div>
</div>

<script>
  function like(){
   fetch('/like',{ 
       method : 'POST',
       headers: {
        "Content-type": "application/json; charset=UTF-8"
    }
   }).then(response => response.json)
     .then(data => {
         console.log(data)
     })
} 
</script>

<% } %>





<%- include("partials/footer") -%>
